[run]
branch = True

source = lens_db, tests, ./

omit =
    lens_db/_version.py
    .venv/*
    setup.py
    versioneer.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == "__main__":
